{% extends "companybase.html" %}

{% block content %}
<br>
<div class="container" style="width:400px" align="center">
  <input type="text" name="search" onkeyup="myFunction()" id="search" class="form-control" placeholder="Search">
</div>
<br>
<br>
<table class="table table-hover" id="student-table">
  <caption>List of Applied Students</caption>
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Branch</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  	{% for instance in object_list %}
    <tr>
      <th scope="row"><a href="{% url 'student_detail' instance.id %}">{{ instance.name }}</a></th>
      <td>{{ instance.branch }}</td>
      <td>{{ instance.user.email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  function myFunction() {
    var input,filter,tr,td,i,txtValue;
    input = document.getElementById("search");
    filter = input.value.toUpperCase();
    table = document.getElementById("student-table");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
} 
</script> 
{% endblock %}