{% extends "companybase.html" %}

{% block content %}

<table class="table table-hover">
  <caption>List of Applied Students</caption>
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Branch</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  	{% for instance in object_list %}
    <tr>
      <th scope="row"><a href="{% url 'student_detail' instance.id %}">{{ instance.name }}</a></th>
      <td>{{ instance.branch }}</td>
      <td>{{ instance.user.email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}