.navbar-brand {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 35px;
}


.nav-link{
  font-family: 'Baloo Tamma 2',cursive;
  font-size: 30px;
}


.dropdown-item{
  font-family: 'Baloo Tamma 2',cursive;
  font-size: 30px;
}
