{% load static %}
<div class="card-deck my-5">
  <div class="card">
    <img src="{% static 'campusplacement/images/developers/skd.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-family: Rubik">Sudip Kumar De</h5>
      <p class="card-text" style="font-family: Roboto Mono">Sudip Kumar De is an assistant professor of the Information Technolgy Department of Asansol Engineering College .He was the project guide and helps in maintaining the website.</p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'campusplacement/images/developers/atul.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-family: Rubik">Atul Utkarsh</h5>
      <p class="card-text" style="font-family: Roboto Mono">Atul Utkarsh is an alumni of the Asansol Engineering College of the 2020 batch.Atul got placed in the TCS during the campus placement.This was the final year project that was developed by him.</p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'campusplacement/images/developers/braj.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-family: Rubik">Brajeshwari Raj</h5>
      <p class="card-text" style="font-family: Roboto Mono">Brajeshwari Raj is an alumni of the Asansol Engineering College of the 2020 batch.Brajeshwari got placed in the LTI during the campus placement.This was the final year project that was developed by her.</p>
    </div>
  </div>
</div>
