<div class="list-group">


        <a href="https://www.google.com" class="list-group-item  list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>




        <a href="https://www.google.com" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">Visit Google<span class="badge badge-danger badge-pill">New</span></a>
</div>
