<div class="table-responsive my-4">
<table class="table table-hover" >
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Department</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Biplab</th>
      <td>Mondal</td>
      <td>#</td>
      <td>Information Technology</td>
      <td>0123456789</td>
    </tr>
    <tr>
      <th scope="row">Pranabes</th>
      <td>Ganguly</td>
      <td>#</td>
      <td>Computer Science & Engg.</td>
      <td>0123456789</td>
    </tr>
    <tr>
      <th scope="row">Sambit</th>
      <td>Mondal</td>
      <td>#</td>
      <td>Electronics & Comm. Engg.</td>
      <td>0123456789</td>
    </tr>
    <tr>
      <th scope="row">#</th>
      <td>#</td>
      <td>#</td>
      <td>Electrical Engg.</td>
      <td>0123456789</td>
    </tr>
    <tr>
      <th scope="row">#</th>
      <td>#</td>
      <td>#</td>
      <td>Mechanical Engg.</td>
      <td>0123456789</td>
    </tr>
    <tr>
      <th scope="row">#</th>
      <td>#</td>
      <td>#</td>
      <td>Civil Engg.</td>
      <td>0123456789</td>
    </tr>
    <tr>
      <th scope="row">#</th>
      <td>#</td>
      <td>#</td>
      <td>Master of Computer Applications</td>
      <td>0123456789</td>
    </tr>
  </tbody>
</table>
</div>
    </div>
  </div>
</div>
