{% extends "studentbase.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
			{% for instance in detail %}
			{% if instance.placed %}<img src="{% static 'campusplacement/images/icons/success.png' %}">Congratulations you are placed in{{ instance.placed_in }}.Buckle yourself for your future endeavours.{% else %}<img src="{% static 'campusplacement/images/icons/fail.jpeg' %}" alt="..."><br>You are not placed yet.Keep Trying.{% endif %}
			{% endfor %}
</div>

{% endblock %}